- provide(:title, "商品一覧")

%h1 商品一覧
.row.row-flex.row-flex-wrap
  - @foods.each do |food|
    .col-md-4
      .panel.panel-primary
        .panel-body{ style: "height: 300px;"}
          = link_to image_tag(image_food_path(food), class: 'img-thumbnail', style: "max-height: 250px;"), food_path(food)
        .panel-footer
          = link_to food.name, food_path(food)
%br
- if current_user.admin?
  = link_to '新規登録', new_food_path
