// @import "bootstrap-sprochets";
@import "bootstrap";

/* nuniversal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* navbar 全体の背景色とボーダーカラー */
.navbar-default {
  background-color: #7ac843;
  border-color: #7ac843;
  .navbar-header > a {
    color: #ffffff;
  }
  .navbar-nav > li > a {
    color: #ffffff;
  }
}
.navbar-admin {
  background-color: #7ac843;
  border-color: #FF0000;
  .navbar-header > a {
    color: #ffffff;
  }
  .navbar-nav > li > a {
    color: #ffffff;
  }
}
/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  //float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* Bootstrapの画像の高さ統一用  */
.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*flex:1 0 0;*/
}
 
.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;/*--- IE10用 ---*/
    flex-flow: row wrap;
    align-content: flex-start;
    flex:1 0 0;
}
 
.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
    margin:-.2px; /* hack adjust for wrapping */
}
 
.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
    width:100%;
}
 
.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
    flex-flow: column nowrap;
}
 
.flex-grow {
    display: flex;
    -webkit-flex: 2;
    flex: 2;
}

